body {
 background-color: #FCFCFC; 
 font-family: arial, sans-serif;
 padding: 15px;
}

h1, p {
  font-size: 16px;
  text-align: center;
  color: #555;
}

h1 {
  font-size: 48px;
  color: #E44E2D;
  margin-top: 15px;
  margin-bottom: 15px;
}

.block {
  width: 55%;
  display: block;
  margin: auto;
  background-color: #FFFFFF;
  border: 1px solid #DDD;
  padding: 12px;
  border-radius: 3px;
}

.text-center {
  text-align: center;
}

.btn-1 {
  display: inline-block;
  color: #999;
  font-size: 18px;
  text-decoration: none;
  border: 1px solid #999;
  padding: 8px 12px;
  border-radius: 2px;
}